{%- extends '@RekalogikaAnalyticsFrontend/renderer.html.twig' -%}

{%- block no_data -%}
    <div class="alert alert-info" role="alert">
        {{ t('No result returned.', domain = 'rekalogika_analytics') |trans }}
    </div>
{%- endblock no_data -%}

{%- block exception -%}
    <div class="alert alert-danger">
        <h4 class="alert-heading">
            {{ t('An error occurred', domain = 'rekalogika_analytics') |trans }}
        </h4>
        <p>{{ exception|analytics_to_html }}</p>
    </div>
{%- endblock exception -%}

{%- block table_class -%}
    {{ parent() }}
    table table-bordered
{%- endblock table_class -%}

{%- block thead_class -%}
    {{ parent() }}
    table-light
{%- endblock thead_class -%}

{%- block tbody_class -%}
    {{ parent() }}
    table-group-divider
{%- endblock tbody_class -%}

{%- block th_class -%}
    {{ parent() }}
{%- endblock th_class -%}

{%- block td_class -%}
    {{ parent() }}
    {% if element.context.subtotalDepth > 0 %}
        bg-secondary

        {% if element.context.subtotalDepth == 1 %}
            bg-opacity-10
        {% elseif element.context.subtotalDepth == 2 %}
            bg-opacity-25
        {% elseif element.context.subtotalDepth == 3 %}
            bg-opacity-50
        {% elseif element.context.subtotalDepth == 4 %}
            bg-opacity-75 text-white
        {% else %}
            text-white
        {% endif %}
    {% endif %}
{%- endblock td_class -%}

{%- block tf_class -%}
    {{ parent() }}
    table-secondary
{%- endblock tf_class -%}
