{%- extends '@RekalogikaAnalyticsFrontend/renderer.html.twig' -%}

{%- block no_data -%}
    <div class="alert alert-info" role="alert">
        {{ t('No result returned.', domain = 'rekalogika_analytics') |trans }}
    </div>
{%- endblock no_data -%}

{%- block exception -%}
    <div class="alert alert-danger">
        <h4 class="alert-heading">
            {{ t('An error occurred', domain = 'rekalogika_analytics') |trans }}
        </h4>
        <p>{{ exception|analytics_to_html }}</p>
    </div>
{%- endblock exception -%}

{%- block table_class -%}
    {{ parent() }}
    table table-bordered
{%- endblock table_class -%}

{%- block thead_class -%}
    {{ parent() }}
    table-light
{%- endblock thead_class -%}

{%- block tbody_class -%}
    {{ parent() }}
    table-group-divider
{%- endblock tbody_class -%}

{%- block td_attr -%}
    {{ parent() }}
    {% if element.context.subtotalDepth == 1 %}
        style="background-color: var(--bs-gray-100)"
    {% elseif element.context.subtotalDepth == 2 %}
        style="background-color: var(--bs-gray-200)"
    {% elseif element.context.subtotalDepth == 3 %}
        style="background-color: var(--bs-gray-300)"
    {% elseif element.context.subtotalDepth == 4 %}
        style="background-color: var(--bs-gray-400); color: var(--bs-white)"
    {% elseif element.context.subtotalDepth == 5 %}
        style="background-color: var(--bs-gray-500); color: var(--bs-white)"
    {% elseif element.context.subtotalDepth > 5 %}
        style="background-color: var(--bs-dark); color: var(--bs-white)"
    {% endif %}
{%- endblock td_attr -%}

{%- block tf_class -%}
    {{ parent() }}
    table-secondary
{%- endblock tf_class -%}
